<div class="flex">
  <!-- Fixed sidebar -->
  <div class="fixed inset-y-0 left-0 max-w-28 max-h-64">
    <div class="flex items-center">
      <img
        src="/assets/Logo.png"
        alt="Logo"
        routerLink="/intro"
        class="h-12 mx-6 my-4 cursor-pointer"
      />
    </div>
    <nav class="flex-1 px-4 py-4 space-y-1">
      <a
        routerLink="/intro"
        routerLinkActive="active"
        class="block px-2 py-2 text-sm font-medium rounded-md hover:bg-secondary"
        >Home</a
      >
      <a
        routerLink="/about"
        routerLinkActive="active"
        class="block px-2 py-2 text-sm font-medium rounded-md hover:bg-secondary"
        >About</a
      >
      <a
        routerLink="/work"
        routerLinkActive="active"
        class="block px-2 py-2 text-sm font-medium rounded-md hover:bg-secondary"
        >Work</a
      >
      <a
        routerLink="/contact"
        routerLinkActive="active"
        class="block px-2 py-2 text-sm font-medium rounded-md hover:bg-secondary"
        >Contact</a
      >
    </nav>
  </div>
</div>
