<section class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
      class="max-w-sm rounded-lg shadow-2xl"
    />

    <div>
      <h1 class="text-5xl font-bold max-w-xl">
        I’m Isabelle Gustafsson, a frontend developer & ux/ui designer based in
        Sweden.
      </h1>
      <p class="py-6">I transform ideas into stunning digital realities.</p>
      <button class="btn btn-primary m-0.5">Get Started</button>
      <button class="btn btn-outline btn-secondary m-0.5">Get Started</button>
    </div>
  </div>
</section>

<section class="container max-w-5xl mx-auto p-4 mt-10 mb-10">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 justify-items-center">
    <div class="card shadow-lg p-4 bg-base-100 flex flex-col w-96">
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
        class="rounded-lg shadow-2xl mb-4 w-full max-h-80 object-cover"
        alt="project building website for ducktape media"
      />
      <h2 class="card-title">Project 1</h2>
      <p>Content for the first card.</p>
    </div>
    <div class="card shadow-lg p-4 bg-base-100 flex flex-col w-96">
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
        class="rounded-lg shadow-2xl mb-4 w-full max-h-80 object-cover"
        alt="project building website for ducktape media"
      />
      <h2 class="card-title">Project 2</h2>
      <p>Content for the second card.</p>
    </div>
    <div class="card shadow-lg p-4 bg-base-100 flex flex-col w-96">
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
        class="rounded-lg shadow-2xl mb-4 w-full max-h-80 object-cover"
        alt="project building website for ducktape media"
      />
      <h2 class="card-title">Project 3</h2>
      <p>Content for the third card.</p>
    </div>
    <div class="card shadow-lg p-4 bg-base-100 flex flex-col w-96">
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
        class="rounded-lg shadow-2xl mb-4 w-full max-h-80 object-cover"
        alt="project building website for ducktape media"
      />
      <h2 class="card-title">Project 4</h2>
      <p>Content for the fourth card.</p>
    </div>
  </div>
</section>

