<div class="flex justify-center mt-2">
  <div class="w-full lg:max-w-6xl justify-center">
    <!-- Hero Section -->
    <section class="hero p-6 flex justify-center items-center">
      <div class="flex flex-col lg:flex-row items-center lg:max-w-6xl">
        <img
          src="/assets/IMG_9834 2.png"
          class="max-w-full lg:max-w-96 lg:order-last"
        />
        <div class="lg:ml-4 text-left lg:text-left my-4">
          <!-- Text content -->
          <h1 class="text-3xl lg:text-4xl font-bold">
            I’m Isabelle Gustafsson, a frontend developer & ux/ui designer based
            in Sweden.
          </h1>
          <p class="py-4">Turning ideas into stunning digital products is my calling.</p>
          <a
            href="https://github.com/Bella0g"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button class="btn btn-secondary rounded-lg m-1">Github</button>
          </a>
          <a
            href="https://www.linkedin.com/in/isabelle-gustafsson-655614128/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button class="btn btn-outline rounded-lg btn-accent m-0.5">LinkedIn</button>
          </a>
        </div>
      </div>
    </section>

    <!-- Skills Section -->
    <section class="container mx-auto p-4 mb-20">
      <h3 class="text-center font-semibold text-4xl mb-8">Skills</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="card bg-accent p-4 bg-opacity-40">
          <h2 class="text-xl font-semibold">_Code</h2>
          <ul>
            <li>Angular</li>
            <li>Tailwind</li>
            <li>React</li>
            <li>DaisyUI</li>
            <li>Webflow</li>
            <li>C#</li>
          </ul>
        </div>
        <div class="card bg-secondary p-4 bg-opacity-40">
          <h2 class="text-xl font-semibold">_Design</h2>
          <p>Wireframing and Prototyping:</p>
          <ul>
            <li>Figma</li>
            <li>Balsamiq</li>
            <li>Sketch</li>
          </ul>
        </div>
      </div>
      <button class="btn btn-outline btn-secondary rounded-lg my-4">Find out more</button>
    </section>

    <!-- Projects Section -->
    <section class="container mx-auto p-4 mb-20">
      <h3 class="text-center font-semibold text-4xl mb-8">Projects</h3>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 lg:gap-8"
      >
        <!-- First card -->
        <a routerLink="/project/1" class="card-container">
          <div class="card shadow-md p-4 flex flex-col">
            <img
              src="/assets/flower1.webp"
              class="rounded-lg shadow-sm mb-4 object-cover h-96"
              alt="project building website for ducktape media"
            />
            <h2 class="card-title">Chat app</h2>
            <p>Content for the second card.</p>
          </div>
        </a>
        <!-- Second card -->
        <a routerLink="/project/2" class="card-container">
          <div class="card shadow-md p-4 flex flex-col">
            <img
              src="/assets/rain1.jpeg"
              class="rounded-lg shadow-sm mb-4 object-cover h-96"
              alt="project building website for ducktape media"
            />
            <h2 class="card-title">Ducktape Ui design and Webflow</h2>
            <p>Content for the second card.</p>
          </div>
        </a>
        <!-- Third card -->
        <a routerLink="/project/3" class="card-container">
          <div class="card shadow-md p-4 flex flex-col">
            <img
              src="/assets/sunset1.jpeg"
              class="rounded-lg shadow-sm mb-4 object-cover h-96"
              alt="project building website for ducktape media"
            />
            <h2 class="card-title">Flight booking app design</h2>
            <p>Content for the third card.</p>
          </div>
        </a>
        <!-- Fourth card -->
        <a routerLink="/project/4" class="card-container">
          <div class="card shadow-md p-4 flex flex-col">
            <img
              src="/assets/forest1.jpeg"
              class="rounded-lg shadow-sm mb-4 object-cover h-96"
              alt="project building website for ducktape media"
            />
            <h2 class="card-title">Flight booking app React native? / angular tailwind portfolio</h2>
            <p>Content for the fourth card.</p>
          </div>
        </a>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="mb-60 bg-primary p-4 mx-4 rounded-xl text-slate-50">
      <div class="grid grid-cols-1 md:grid-cols-2 items-center">
        <img
          src="/assets/Humaaans Space.svg"
          class="md:max-w-xs"
          alt="Illustration of a person in space"
        />
        <div>
          <h2 class="text-3xl font-bold mb-1">Contact</h2>
          <p>Provident cupiditate voluptatem et in...</p>
          <button routerLink="/contact" class="btn btn-accent rounded-lg mt-8">
            Say hello!
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
