<div>
  <section class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="https://images.pexels.com/photos/7725967/pexels-photo-7725967.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        class="mask mask-squircle shadow-2xl max-w-2xl"
      />

      <div>
        <h1 class="text-5xl font-bold max-w-xl">
          I’m Isabelle Gustafsson, 
          a frontend developer & ux/ui designer based
          in Sweden.
        </h1>
        <p class="py-4">I transform ideas into stunning digital realities.</p>
        <button class="btn btn-primary m-0.5">Projects</button>
        <button class="btn btn-outline btn-accent m-0.5">LinkedIn</button>
      </div>
    </div>
  </section>

  <section class="container max-w-5xl mx-auto p-4 mt-10 mb-10">
    <h3 class="text-center font-bold text-4xl pb-8">Projects</h3>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 justify-items-center"
    >
      <div class="card shadow-lg p-4 bg-base-100 flex flex-col w-96">
        <img
          src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
          class="rounded-lg shadow-2xl mb-4 w-full max-h-80 object-cover"
          alt="project building website for ducktape media"
        />
        <h2 class="card-title">Project 1</h2>
        <p>Content for the first card.</p>
      </div>
      <div class="card shadow-lg p-4 bg-base-100 flex flex-col w-96">
        <img
          src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
          class="rounded-lg shadow-2xl mb-4 w-full max-h-80 object-cover"
          alt="project building website for ducktape media"
        />
        <h2 class="card-title">Project 2</h2>
        <p>Content for the second card.</p>
      </div>
      <div class="card shadow-lg p-4 bg-base-100 flex flex-col w-96">
        <img
          src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
          class="rounded-lg shadow-2xl mb-4 w-full max-h-80 object-cover"
          alt="project building website for ducktape media"
        />
        <h2 class="card-title">Project 3</h2>
        <p>Content for the third card.</p>
      </div>
      <div class="card shadow-lg p-4 bg-base-100 flex flex-col w-96">
        <img
          src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
          class="rounded-lg shadow-2xl mb-4 w-full max-h-80 object-cover"
          alt="project building website for ducktape media"
        />
        <h2 class="card-title">Project 4</h2>
        <p>Content for the fourth card.</p>
      </div>
    </div>
  </section>

  <section class="container mx-auto p-4 mt-10 mb-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="card bg-accent p-4 bg-opacity-40">
        <h2 class="text-xl font-semibold">_Code</h2>
        <ul>
          <li>Angular</li>
          <li>React</li>
          <li>Tailwind CSS</li>
          <li>Bootstrap</li>
          <li>Webflow</li>
          <li>Figma</li>
          <li>UI / UX design</li>
        </ul>
      </div>
      <div class="card bg-secondary p-4 bg-opacity-40">
        <h2 class="text-xl font-semibold">_Interests</h2>
        <ul>
          <li>Reading</li>
          <li>Painting</li>
          <li>Cooking</li>
          <li>Hiking</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="hero bg-base-200 mb-10 rounded-sm">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="/assets/Humaaans Space.jpg"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <div>
        <h1 class="text-2xl font-bold">Contact</h1>
        <p class="py-6 w-96">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <button class="btn btn-primary">Say hello!</button>
      </div>
    </div>
  </section>
</div>
